.bg {
    position: relative;
    background-image: url('../assets/city.png');
    margin-top: 0;
    padding: 150px 0 100px 0;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.content-container {
    display: flex;
    margin-top: -30px;
}

.my-pic {
    border-radius: 50%;
    width: 25%;
    height: 450px;
    margin-top: 50px;
    margin-left: 80px;
    border: .5rem solid rgba(0, 0, 0, 0.699);
    position: relative;
}

.header {
    color: whitesmoke;
    margin-top: 70px;
    margin-left: 350px;
}

.who-am-I {
    width: 80%;
    margin-left: 115px;
    margin-top: -300px;
}

.about-text {
    width: 74%;
    color: whitesmoke;
    text-align: center;
    margin-left: 150px;
    margin-top: -320px;
    background-color: rgba(0, 0, 0, 0.732);
    border-radius: 20px;
    padding: 10px;
    border: .5rem solid rgb(255, 255, 255);
}

.p {
    line-height: 1.4;
    margin-top: 10px;
    font-size: 25px;
}

.skill-name {
    font-size: 27px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.technical-skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.technical-skills-image {
    width: 80%;
    margin-top: -450px;
    margin-bottom: -425px;
}

.col:hover {
    box-shadow: 0 0 20px rgba(18, 89, 188, 0.7);
    border-radius: 30px;
    transform: scale(1.1);
}

.front-header {
    color: rgb(241, 243, 246);
    font-weight: bold;
    font-size: 70px;
    margin-top: -20px;
    margin-bottom: 50px;
    text-shadow: 0 0 10px #0091ff, 0 0 10px #0000FF;
}

.skills-container {
    display: flex;
    margin-top: 100px;
    gap: 100px;
    width: 1200px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.skills-header {
    display: flex;
    gap: 480px;
    justify-content: center;
    margin-top: -30px;
}

.tools-header {
    color: rgb(241, 243, 246);
    font-weight: bold;
    font-size: 70px;
    margin-top: 140px;
    margin-bottom: 50px;
    text-shadow: 0 0 10px #103ebd, 0 0 10px #0000FF;
    justify-content: center;
    text-align: center;
}

.tool-bx, .skill-bx {
    height: 40px;
    display: inline;
}

.tool-icon, .skill-icon {
    height: 150px;
}

.skills-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    height: 500px;
    width: 500px;
}

.soft-skills {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -80px;
}

.soft-skills-text {
    color: whitesmoke;
    text-shadow: 0 0 5px #2eabff, 0 0 5px #1d72c7;
    font-weight: bold;
    font-size: 40px;
}

.ss-img {
    width: 90%;
    margin-left: -98px;
    margin-top: -750px;
    margin-bottom: -250px;
}

.ss-img-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel {
    height: 420px;
    width: 420px;
    margin-left: 50px;
}

.carousel2 {
    height: 420px;
    width: 390px;
    margin-left: -70px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin-left: -75px;
}

.hobbies-title {
    width: 95%;
    margin-left: 30px;
    margin-top: -575px;
    margin-bottom: -550px;
}

.hobbies-img-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.hobbies-text {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #0091ff, 0 0 5px #3f8ab8;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.729);
    margin-bottom: 30px;
    margin-left: 50px;
}

.foods-teams-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
    color: rgb(241, 243, 246);
    font-weight: bold;
    font-size: 250px;
    text-shadow: 0 0 10px #00b7ff, 0 0 10px #0000FF;
}

.edu-header {
    color: rgb(241, 243, 246);
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 0 10px #00bbff, 0 0 10px #0000FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education {
    width: 50%;
    position: left;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
}

.flat-img, .stony-img {
    width: 20%;
    height: 110px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.edu-text {
    color: white;
    font-size: 30px;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    text-shadow: 0 0 10px #7801af, 0 0 10px #470247;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-left: 15px;
}

.flatiron {
    display: flex;
    padding-top: 20px;
    margin-left: -20px;
}

.stony-edu-text {
    color: white;
    font-size: 30px;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    text-shadow: 0 0 10px #7801af, 0 0 10px #470247;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-left: 15px;
}

.degree-txt {
    font-size: 18px;
}

.education-experience {
    display: flex;
    position: right;
}

.edu-content {
    border-radius: 15px;
}

.work {
    width: 50%;
    padding-left: 70px;
}

.work-content {
    margin-right: -5px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 15px;
}

.work-header {
    color: rgb(241, 243, 246);
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 0 10px #ae00ff, 0 0 10px #0000FF;
    padding-left: 90px;
}

.statmd {
    display: flex;
}

.job-header {
    color: white;
    font-size: 3px;
    align-items: center;
    font-weight: bold;
    padding: 2px;
}

.text-work {
    width: 90%;
    color: whitesmoke;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

.me {
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.soft-skills-text {
    transition: transform 0.3s ease;
}

.soft-skills-text:hover {
    animation: shake 0.6s;
}
